.tabs-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    position: relative;
    top: 0;
    padding-left: 0;
    min-width: 100%;
   
}

.tab-active-overlay  {
    position: absolute;
    transition: all .3s;
    border-radius: 5px;
    top: 0;
    background-color: var(--primary-color);
    height: 100%;
    box-shadow: 0 16px 26px -10px rgba(84,92,216,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(84,92,216,.2);
}