.dashboard-analytic-width-portofolio {
    width: 100%;
}

.height-300 {
    height: 300px;
    overflow: hidden;
}

.dashboard-analytic-timeline-container {
    height: 300px !important;
    overflow-y: auto !important;
}

.technical-support-container {
    position: relative;
    height: fit-content;
    height: 300px;
}

.relative {
    position: relative !important;
}

.da-absolute-chart-title-container {
    position: absolute;
    top: 20px;
    left: 30px;
}

.color5d {
    color: #5d5d5d !important;
}

.color6d {
    color: #6d6d6d !important;
}

.color98 {
    color: #989898 !important;
}

.fs-16 {
    font-size: 16px;
}

.da-fs-20-upper {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0  !important;
    padding: 0 !important;
}

.da-fs-34-bold {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.da-fs-30-fw-400 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.da-icon-detail-performance {
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.button-prev {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.button-next  {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
}

.button-navigation {
    border: none;
    height: 35px;
    width: 35px;
    background-color: white;
    box-shadow: 2px 0px 12px #6d696957, 0px 3px 6px #e0e0e0;
    font-size: 12px;
    color: #676767;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.button-navigation:hover {
    box-shadow: 2px 0px 15px #6d696957, 0px 3px 10px #e0e0e0;
}

.da-task-list-container {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 2fr 1fr;
}

.da-task-list-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.da-tasklist:hover .da-task-list-hidden {
    visibility: visible;
    opacity: 1;
}

.da-relative-container {
    position: absolute;
    z-index: 19000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.da-box-chart-container-fixed {
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .dashboard-analytic-width-portofolio {
        width: 70%;
    }
}