.page-404-image {
    background-image: url('../../assets/logo/ghost.png'); 
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 650px) {
    .page-404-image {
        height: 220px;
    }    
}