.mrb-5 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.grid-3-gap-10 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
}

@media screen and (max-width: 650px) {
    .grid-3-gap-10 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 10px;
    }
}