.header-lang-menu {
    position: absolute;
    top: 35px;
    width: 290px;
    right: 0;
    overflow: hidden;
    transition: all .8s;
}

.header-lang-menu-header {
    height: 60px;
    background-image: url('https://images.unsplash.com/photo-1502899576159-f224dc2349fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
}

.hlc-show {
    visibility: visible;
    opacity: 1;
    transform: translateY(20px);
}

.hlc-close {
    visibility: hidden;
    opacity: 0;
}

.header-lang-menu-overlay {
    position: absolute;
    background-color: #00000096;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-lang-body {
    padding: 15px 0;
    text-align: left;
}

.lhc-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #545cd8;
    font-weight: 500;
    margin: 0 0 4px 16px;
    padding: 0;
}

.lhc-menu-item-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.lhc-menu-item-content p {
    margin: 0;
    padding: 0;
}

.lhc-lang-img-container { 
    width: 35px;
    height: 23px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.lhc-lang-img-container img {
    object-fit: cover;
}

.lhc-line {
    margin-top: 6px;
    border-top: 1px solid #80808047;
    padding-bottom: 15px;
}