
/*Header Styles*/
.header-styles-container {  
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-right: 20px;
    background-color: #fafbfc;
    box-sizing: border-box;
    height: var(--header-height);
    box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
}

.header-styles-drawer-open {
    padding-left: 100px;
}

.header-styles-drawer-close {
    padding-left: 300px;
}

.header-left-menu {
    width: 50%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 30px;
    justify-content: flex-start;
}

.header-right-menu {
    width: 50%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: flex-end;
    align-items: center;
}

.header-menu-fold-icon {
    font-size: 20px;
    cursor: pointer;
}

.header-search-input-container {
    position: relative;
    width: fit-content;
    /* background-color: yellowgreen; */
}

.header-search-button {
    background-color: #e9ebf8;
    color: #545cd8;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1200;
    transform: rotate(-270deg);
    transition: all 0.5s;
}

.header-search-rotate {
    transform: rotate(0deg);
}

.header-search-input {
    height: 42px;
    width: 0;
    background-color: #edeeef9e;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 2px 20px;
    box-sizing: border-box;
    transition: all 0.5s;
}

.header-search-input-open  {
    width: 280px;
}

.header-link-menu {
    cursor: pointer;
}

.header-link-wrapper {
    position: relative;
    /* height:var(--header-height);
    line-height: var(--header-height); */
}

.header-link-menu:hover {
    color: var(--primary-color);
}

.desktop-header-view {
    display: block;
}

.mobile-tablet-header-view {
    display: none;
}

.header-link-menu-hidden {
    display: none;
}

.more-outline-wrapper {
    width: 20px;
    height: 32px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-mobile-menu {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-menu-more-outlined-icon {
    font-size: 22px;
    color: white;
}
/*end header-styles*/


/*Right Menu Styles*/
.grid-header-avatar {
    background-color: #e9ebf8;
    color: #545cd8;
    cursor: pointer;
    width: 50px;
}

.notif-header-avatar {
    background-color: #f6e6eb;
    color: #e23b6f;
    cursor: pointer;
}

.notif-header-wrapper {
    position: relative;
}

.notif-badge {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--danger-color);
    border-radius: 50%;
    right: 0;
    top: 0px;
}

.lang-header-avatar {
    background-color: #e7e7ea;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-header-avatar {
    background-color: #e7f5ef;
    color: #3ac47d;
    cursor: pointer;
}

.profile-header-avatar {
    cursor: pointer;
}

.header-avatar-wrap {
    padding: 0 10px;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-avatar-wrap-column {
    padding: 0 0 0 10px;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.profile-down-icon {
    font-size: 10px;
    color: var(--primary-color);
    margin-left: 7px;
}

.profile-name {
    font-size: 14px;
    font-weight: 500;
    color: #383838;
    margin: 0;
    padding: 0;
    line-height: 23px;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.profile-position {
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 23px;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    color: #989898;
}
/*End right menu styles*/

/*Notif Menu Styles*/

/*End notif menu styles*/


@media screen and (max-width: 1024px) {
    .header-link-wrapper {
        display: none;
    }

    .header-right-menu {
        width: 50%;
        height: var(--header-height);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: flex-end;
        align-items: center;
    }

    .header-avatar-wrap-column {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .header-styles-container {  
        z-index: 1400;
    }

    .content-fold-open {
        transform: translateY(65px) translateX(0px);
    }
    
    .content-fold-close {
        transform: translateY(65px) translateX(0px);
    }

    .header-styles-drawer-open {
        padding-left: 20px;
    }
    
    .header-styles-drawer-close {
        padding-left: 20px;
    }

    .desktop-header-view {
        display: none;
    }

    .mobile-tablet-header-view {
        display: block;
    }
}
