
/*Header Styles*/
.header-styles-container {  
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-right: 20px;
    background-color: #fafbfc;
    box-sizing: border-box;
    height: var(--header-height);
    box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
}

.header-styles-drawer-open {
    padding-left: 100px;
}

.header-styles-drawer-close {
    padding-left: 300px;
}

.header-left-menu {
    width: 50%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 30px;
    justify-content: flex-start;
}


.header-link-menu {
    cursor: pointer;
}

.header-link-wrapper {
    position: relative;
    /* height:var(--header-height);
    line-height: var(--header-height); */
}

.header-link-menu:hover {
    color: var(--primary-color);
}

.desktop-header-view {
    display: block;
}

.mobile-tablet-header-view {
    display: none;
}

.header-link-menu-hidden {
    display: none;
}

.more-outline-wrapper {
    width: 20px;
    height: 32px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-mobile-menu {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-menu-more-outlined-icon {
    font-size: 22px;
    color: white;
}
/*end header-styles*/

@media screen and (max-width: 1024px) {
    .header-link-wrapper {
        display: none;
    }

    .header-right-menu {
        width: 50%;
        height: var(--header-height);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: flex-end;
        align-items: center;
    }

    .header-avatar-wrap-column {
        display: none;
    }
}

@media screen and (max-width: 986px) {

    .header-styles-container {  
        z-index: 1400;
    }

    .content-fold-open {
        transform: translateY(65px) translateX(0px);
    }
    
    .content-fold-close {
        transform: translateY(65px) translateX(0px);
    }

    .header-styles-drawer-open {
        padding-left: 20px;
    }
    
    .header-styles-drawer-close {
        padding-left: 20px;
    }

    .desktop-header-view {
        display: none;
    }

    .mobile-tablet-header-view {
        display: block;
    }
}
