.custom-badge-wrapper {
    position: relative;
    width: fit-content;
    display: inline-block;
}

.custom-badge-grid-button-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
}

.badges-with-child-style {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -30%);
}

.badges-with-child-style-grid-button {
    position: absolute;
    top: 10%;
    right: 8%;
}

.badges-with-avatar-circle-style {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
}

.badges-with-avatar-circle-style-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 20%);
}

.badges-with-avatar-square-style {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.badges-with-avatar-square-style-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}