.mailbox-container {
    display: grid;
    grid-template-columns: .8fr 2.5fr;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.mailbox-menu-container {
    box-shadow: 0 0 0 0 gray;
    border-radius: 0;
    background: #f8f9fa;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.inbox-container {
    background-color: white;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 0;
    border: 0;
    padding: 20px;
}

.inbox-mail-container {
    display: grid;
    grid-template-columns: .6fr .6fr 1.4fr 3fr 8fr .8fr 1.4fr;
    grid-gap: 5px;
    color: black !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 5px;
}

.inbox-mail-container:hover {
    color: black !important;
}

.last-seen-text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: grey;
}

.mailbox-menu {
    display: none !important;
}

.mailbox-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}

.inbox-search-container {
    width: 400px;
}

@media screen and (max-width: 986px) {

    .mailbox-menu {
        display: block !important;
    }

    .mailbox-container {
        display: grid;
        grid-template-columns: .8fr 2.5fr;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        transition: all .6s;
    }

    .mailbox-menu-container {
        position: relative;
        transform: translateX(-280px);
        width: 250px;
        transition: all .12s;
    }

    .mailbox-menu-show {
        transform: translateX(0px) !important;
        width: 250px !important;
    }

    .inbox-container-show {
        position: relative !important;
        transform: translateX(0px) !important;
        width: 600px !important;
    }

    .inbox-container {
        position: absolute;
        width: 100%;
        transition: all .6s;
    }
}

@media screen and (max-width: 425px) {    
    .mailbox-header-container {
        flex-wrap: wrap;
    }
    .inbox-search-container {
        width: 300px;
    }
}

