body {    
    background-color: #f0f2f5;
}

html {
    scroll-behavior: smooth;
}

:root {
    --header-height: 64px;
    --primary-color: #545cd8;
    --primary-color-rgb: 84, 92, 216;
    --secondy-color: #6c757d;
    --secondary-color-rgb: 108, 117, 125;
    --success-color: #3ac47d;
    --success-color-rgb: 58, 196, 125; 
    --info-color: #30b1ff;
    --info-color-rgb: 48, 177, 255;
    --warning-color: #f7b924;
    --warning-color-rgb: 247, 185, 36;
    --alt-color: #83588a;
    --alt-color-rgb: 131, 88, 138;
    --light-color: #eee;
    --light-color-rgb: 238, 238, 238;
    --dark-color: #343a40;
    --dark-color-rgb: 52, 58, 64;
    --danger-color: #d92550;
    --danger-color-rgb: 217, 37, 80;
    --padding-md: 20px;
    --padding-sm: 10px;
}

.primary {
    color: var(--primary-color) !important;
}

.secondary {
    color: var(--secondy-color) !important;
}

.success {
    color: var(--success-color) !important;
}

.info {
    color: var(--info-color) !important;
}

.warning {
    color: var(--warning-color) !important;
}

.danger {
    color: var(--danger-color) !important;
}

.alt {
    color: var(--alt-color) !important;
}

.dark {
    color: var(--dark-color) !important;
}

.light {
    color: var(--light-color) !important;
}

.flex-space-center  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container {
    transition: all .3s;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
}

.content-fold-open {
    width: calc(100% - 280px);
    transform: translateX(280px);
}

.content-fold-close {
    width: calc(100% - 80px);
    transform: translateX(80px);
}

a {
    color: var(--primary-color);
}

a:hover {
    color: #5f5f5f;
}


/* width */
::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#f4f4f4
}

::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #f4f4f4
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

/*Styles for card*/
.card-container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-auto {
    overflow: auto;
}

.card-header-container {
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    position: relative;
}

.card-header-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.block {
    display: block !important;
}

.card-header-title {
    color: white;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
}

.card-header-desc {
    font-size: 15px;
    color: #ffffffdb;
    margin-bottom: 6px;
}

.capitalize-color {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 6px;
}
/*end styles for card*/

/*Styles for app body container*/

.app-body-container {
    padding: var(--padding-md);
}

.grid-3-gap-30 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid-2-gap-30 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: flex-start;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.block {
    display: block;
}
.super-small-text  {
    font-size: 11px;
    color: #ababab;
    margin: 7px 0 4px;
    padding: 0;
}

.white {
    color: white !important;
}

.mrb-10 {
    margin-bottom: 10px;
    margin-right: 10px;
}

.mr-10  {
    margin-right: 10px !important;
}

.mrb-20 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mobile-mb-30 {
    margin-bottom: 0px;
}

.mlr-30 {
    margin-right: 30px;
    margin-left: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-20 {
    padding-top: 20px;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-vertical-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-left-30  {
    padding-left: 30px;
}

.padding-horizontal-10 {
    padding: 0 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 30px;
}
.mrb-5 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.grid-3-gap-10 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
}

.grid-4-gap-20 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}


.flat-card-border {
    border: 1px solid #cac8c896;
    border-radius: 4px;
}

.line {
    height: 2px;
    border-bottom: 1px solid #e2e2e2;
}

.grid-menu-3-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-gap-20 {
    grid-gap: 20px;
}

.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: flex-start !important;
    width: 100%;
}

.justify-content-space-between {
    justify-content: space-between !important;
}

.width-100 {
    width: 100%;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end{
    justify-content: flex-end !important;
}

.grid-menu-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.grid-menu-4-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
}

.grid-row-for-3-col,.grid-row-for-2-col {
    width: 100%;
    border-right: 1px solid #d6d6d6d6;
    border-bottom: 1px solid #d6d6d6d6;
}

.grid-row-for-3-col:nth-child(3n),.grid-row-for-2-col:nth-child(2n) {
    border-right-width: 0px;
}

.grid-row-for-3-col:nth-last-child(-n+3),.grid-row-for-2-col:nth-last-child(-n+2) {
    border-bottom-width: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
}

.border {
    border: 1px solid #98989845;
}

.br-5 {
    border-radius: 5px !important;
}

.flex-column {
    display: flex;
    flex-direction: column!important;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.nav-item {
    width: 100%;
    display: flex;
    transition: all .3s;
    padding: 7px 0;
}

.nav-item:hover .hover-show-only {
   opacity: 1;
}

.nav-item-header {
    text-transform: uppercase;
    font-size: 12px;
    color: #777777;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.nav-item-divider {
    height: 1px;
    border-bottom: 1px solid #dadada;
    margin: 5px 0px;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
    width: 100%;
}

.algn-center-just-space-between {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-align-left {
    text-align: left !important;
}

.text-align-center {
    text-align: center !important;
}

.align-items-center {
    align-items: center !important;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

.gray {
    color: #949292 !important;
}

.black-gray {
    color: #656565 !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.margin-left-auto {
    margin-left: auto;
}

.border-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-bottom-container .border-bottom-item:last-child {
    border-bottom: none;
}

.border-bottom-item {
    border-bottom: 1px solid #d6d6d6d6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.no-mt {
    margin-top: 0px !important;
}

.no-mb {
    margin-bottom: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.justify-items {
    justify-items: center !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-row-fit-content {
    display: flex;
    flex-direction: row;
    width: fit-content;
}


.align-items-end {
    align-items: flex-end !important;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-item {
    box-shadow: 0 0 0 transparent;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}

.dropdown-menu-item .dropdown-header {
    text-transform: uppercase;
    font-size: .73333rem;
    color: var(--primary-color);
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 12px;
}

/*Font size*/
.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.no-margin-no-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-menu-item .dropdown-divider {
    height: 1px;
    border-bottom: 1px solid #8080804f;
    width: 100%;
    margin: 5px 0;
}

/*Input type*/
.success-input {
    border: 1px solid var(--success-color) !important;
}

.success-label {
    color: var(--success-color)  !important;
}

.error-label {
    color: var(--danger-color) !important;
}

.success-input:focus {
    border-color: #3ac47dc2;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #3ac47dc2;
    box-shadow: 0 0 0 1px #3ac47dc2;
}

.hover-show-only {
    opacity: 0;
    transition: all .5s;
}

/*Dashboard Analytic CSS*/
.dashboard-analytic-width-portofolio {
    width: 100%;
}

.height-300 {
    height: 300px;
    overflow: hidden;
}

.dashboard-analytic-timeline-container {
    height: 300px !important;
    overflow-y: auto !important;
}

.technical-support-container {
    position: relative;
    height: fit-content;
    height: 230px;
}

.technical-support-container-2 {
    height: 300px;
    position: relative;
    height: fit-content;
}

.technical-support-container:hover .button-navigation {
    visibility: visible;
    opacity: 1;
}

.technical-support-container:hover .button-prev {
    left: -10px;
}
.technical-support-container:hover .button-next {
    right: -10px;
}

.technical-support-container-2:hover .button-navigation {
    visibility: visible;
    opacity: 1;
}

.technical-support-container-2:hover .button-prev {
    left: -10px;
}
.technical-support-container-2:hover .button-next {
    right: -10px;
}

.relative {
    position: relative !important;
}

.da-absolute-chart-title-container {
    position: absolute;
    top: 20px;
    left: 30px;
}

.color5d {
    color: #5d5d5d !important;
}

.color6d {
    color: #6d6d6d !important;
}

.color98 {
    color: #989898 !important;
}

.fs-16 {
    font-size: 16px;
}

.da-fs-20-upper {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0  !important;
    padding: 0 !important;
}

.da-fs-34-bold {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.da-fs-30-fw-400 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.da-icon-detail-performance {
    font-size: 28px;
    font-weight: bold;
    margin-right: 5px;
}

.button-prev {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.button-next  {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

.button-navigation {
    border: none;
    height: 35px;
    width: 35px;
    background-color: #545cd8;
    box-shadow: 2px 0px 12px #6d696957, 0px 3px 6px #e0e0e0;
    font-size: 12px;
    color: #ffffff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    z-index: 1200;
    transition: all .8s;
    opacity: 0;
}

.button-navigation:hover {
    box-shadow: 2px 0px 15px #6d696957, 0px 3px 10px #e0e0e0;
}

.da-task-list-container {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 2fr 1fr;
}

.da-task-list-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
}

.da-tasklist:hover .da-task-list-hidden {
    visibility: visible;
    opacity: 1;
}

.da-relative-container {
    position: absolute;
    z-index: 19000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.da-box-chart-container-fixed {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);
    border-radius: 5px;
}

.da-box-chart-container-fixed-without-shadow  {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.da-var-2-grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}

@media screen and (max-width: 986px) {
    .span-grid-column {
        grid-column: span 2;
    }    
}

@media screen and (max-width: 650px) {
    .dashboard-analytic-width-portofolio {
        width: 70%;
    }

    .span-grid-column {
        grid-column: span 1;
    } 

    .da-var-2-grid-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    
}

/*end CSS*/

@media screen and (max-width: 1024px) {
    .app-theme-icon-wrapper {
        width: 10%;
    }
    
    .app-theme-text-container {
        width: 65%;
        padding-right: 20px;
    }

    .app-theme-breadcrumb-container {
        width: 30%;
    }
}

@media screen and (max-width: 986px) {

    .grid-menu-3-col {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-row-for-3-col {
        border-right: 1px solid #d6d6d6d6;
        border-bottom: 1px solid #d6d6d6d6;
    }

    .grid-row-for-3-col:nth-child(3n) {
        border-right-width: 1px;
    }

    .grid-row-for-3-col:nth-child(2n) {
        border-right-width: 0;
    }
    
    .grid-row-for-3-col:nth-last-child(-n+3) {
        border-bottom-width: 1px;
    }

    .grid-row-for-3-col:nth-last-child(-n+2) {
        border-bottom-width: 0;
    }

    .grid-2 {
        grid-template-columns: 100%;
        grid-gap: 0;
    }

    .card-element {
        margin-bottom: 20px;
    }

    .mobile-mb-30 {
        margin-bottom: 30px;
    }

    .grid-3-gap-30 {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2-gap-30 {
        grid-template-columns: 1fr;
    }

    .bg-icon-gradient-ripple {
        display: none;
    }

    .app-theme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px 10px;
        height: 150px;
    }

    .app-theme-text-container {
        margin-bottom: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .app-theme-breadcrumb-container {
        width: 100%;
        justify-content: center;
    }

    .content-container {
        margin-top: -64px;
    }

    .content-fold-open {
        width: 100%;
        transform: translateY(65px) translateX(0px);
    }
    
    .content-fold-close {
        width: 100%;
        transform: translateY(65px) translateX(0px);
    }   

}


@media screen and (max-width: 650px) {
    .grid-3-gap-10 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        grid-gap: 10px;
    }
    .grid-menu-4-col {
        grid-template-columns: 1fr 1fr;
    }

    .grid-3-gap-30 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    .app-body-container {
        padding: var(--padding-sm);
    }

    .grid-menu-3-col,.grid-menu-2-col {
        grid-template-columns: 1fr;
    }

    .grid-row-for-3-col:nth-child(3n) {
        border-right-width: 0;
    }

    .grid-row-for-3-col:nth-child(2n),.grid-row-for-2-col:nth-child(2n) {
        border-right-width: 0;
    }

    .grid-row-for-3-col:nth-last-child(-n+2),.grid-row-for-2-col:nth-last-child(-n+2) {
        border-bottom-width: 1px;
    }

    .grid-row-for-3-col,.grid-row-for-2-col {
        border-right-width: 0;
    }

    .grid-menu-4-col {
        grid-template-columns: 1fr;
    }
}