.chat-apps-container {
    display: grid;
    grid-template-columns: 380px 2.5fr;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent, 2px 2px 10px #c7c0c0;
}

.chat-inbox-list-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f8f9fa;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.chat-content-container {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent;
}

.chat-list-container {
    display: flex !important;
    align-items: center;
    padding: 15px 20px !important;
}

.chat-wrapper {
    margin-left: 20px;
}

.padding-horizontal-20 {
    padding: 0 20px;
}

.chat-detail-list,.chat-detail-active {
    font-size: 13px;
    color: #949292;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    margin: 0;
}

.chat-date {
    font-size: 11px;
    color: #5f5f5f;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    margin: 0; 
}

.chat-profile-name,.chat-profile-name-active {
    font-size: 14px;
    font-weight: 500;
    color: #383838;
    margin: 0;
    padding: 0;
    line-height: 23px;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.chat-detail-active {
    color: #d2d2d2 !important;
}

.chat-profile-name-active {
    color: white !important;
}

.active-chat-profile-name {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.active-chat-profile-wrapper {
    margin-top: -5px;
}

.chat-list-active-container {
    padding: 40px 20px;
}

.chat-content-header {
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent;
    padding: 20px;
}

.text-input-chat-container{
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid #d4d4d4;
}

.menu-chat-apps {
    display: none;
}

.menu-chat-apps-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 
@media screen and (max-width: 986px) {

    .chat-apps-container {
        display: grid;
        grid-template-columns: 250px 2.5fr;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        transition: all .6s;
    }

    .chat-inbox-list-container-show {
        transform: translateX(0px) !important;
        width: 250px !important;
    }

    .chat-inbox-list-container {
        position: relative;
        transform: translateX(-280px);
        width: 250px;
        transition: all .12s;
    }

    .chat-content-container-show {
        position: relative !important;
        transform: translateX(0px) !important;
        width: 500px !important;
    }

    .chat-content-container {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .6s;
    }
    
    .menu-chat-apps {
        display: flex;
        align-items: center;
    }

    .menu-chat-apps-desktop {
        display: none;
    }

    .active-chat-profile-name {
        font-size: 17px;
    }

    .text-input-chat-container{
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .close-menu {
        transition: all .6s;
    }

    .show-close-menu {
        animation: allclosemenu .6s;
    }

    @keyframes allclosemenu {
        0% {
            opacity: 0;
            transform: rotate(0deg) translateX(-100px);
        }
        50% {
            transform: rotate(0deg) translateX(0px);
        }
        100% {
            transform: rotate(180deg) translateX(0px);
            opacity: 1;
        }
    }
 
}