.chat-apps-container {
    display: grid;
    grid-template-columns: 380px 2.5fr;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent, 2px 2px 10px #c7c0c0;
}

.chat-inbox-list-container {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f8f9fa;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.chat-content-container {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent;
}

.chat-list-container {
    display: flex !important;
    align-items: center;
    padding: 15px 20px !important;
}

.chat-wrapper {
    margin-left: 20px;
}

.padding-horizontal-20 {
    padding: 0 20px;
}

.chat-detail-list,.chat-detail-active {
    font-size: 13px;
    color: #949292;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    margin: 0;
}

.chat-date {
    font-size: 11px;
    color: #5f5f5f;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    margin: 0; 
}

.chat-profile-name,.chat-profile-name-active {
    font-size: 14px;
    font-weight: 500;
    color: #383838;
    margin: 0;
    padding: 0;
    line-height: 23px;
    max-width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.chat-detail-active {
    color: #d2d2d2 !important;
}

.chat-profile-name-active {
    color: white !important;
}

.active-chat-profile-name {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.active-chat-profile-wrapper {
    margin-top: -5px;
}

.chat-list-active-container {
    padding: 40px 20px;
}

.chat-content-header {
    box-shadow: 0 1px 12px #dedede, 0 -9px 10px transparent;
    padding: 20px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.text-input-chat-container{
    margin: 30px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid #d4d4d4;
}
